[Event "{{event}}"]
[Site "{{site}}"]
[Date "{{date}}"]
[Round "{{round}}"]
[White "{{players.white.name}}"]
[WhiteElo "{{players.white.elo}}"]
[Black "{{players.black.name}}"]
[BlackElo "{{players.black.elo}}"]
[Variant "{{variant}}"]
[Result "{{result}}"]

{{moves}}{{result}}

